from database import Base
from uuid import uuid4
from core.temporal.models import TemporalModelMixin
import sqlalchemy.dialects.postgresql as sap
from sqlalchemy.ext.declarative import declared_attr
from sqlalchemy import *
from datetime import datetime

def get_db_name():
    return "{{{database_name}}}"

{{#each model}}

class {{@key}}(Base, TemporalModelMixin):

    def __init__(self, id=None, deleted=False, meta_instance_id=None, {{#join . ","}}{{{name}}}=None{{/join}}, _metadata=None, **kwargs):
        self.id = id
        self.deleted = deleted
        self.meta_instance_id = meta_instance_id
        {{#each .}}
        self.{{{@key}}} = {{{@key}}}
        {{/each}}
        self._metadata = _metadata
        self.branch = kwargs.get('branch', 'master')
        self.from_id = kwargs.get('from_id')

    def dict(self):
        return {
            {{#join . ","}}"{{{name}}}": self.{{{name}}}{{/join}},
            "id": self.id,
            "branch":self.branch,
            "_metadata": self._metadata
        }

    @declared_attr
    def __tablename__(cls):
        return cls.__name__.lower()

    class Temporal:
        fields = ('deleted','modified', 'meta_instance_id', {{#join . ","}}'{{{name}}}'{{/join}}, )

    {{#each . }}
    {{{@key}}} = Column({{{type}}})
    {{/each}}

    id = Column(sap.UUID(as_uuid=True), primary_key=True, default=uuid4)
    deleted = Column(sap.BOOLEAN(), default=False)
    meta_instance_id = Column(sap.UUID(as_uuid=True))
    modified = Column(DateTime(), default=datetime.utcnow())
    branch = Column(String(), default='master')
    from_id = Column(sap.UUID(as_uuid=True), nullable=True)

{{/each}}





