version: "2"

services:  
  postgres:
    image: postgres:latest
    container_name: "postgres"        
    ports:
      - 5432:5432
    networks:
      main:
        aliases:
          - postgres            
  adminer:
    image: adminer:latest
    container_name: "adminer"        
    ports:
      - 8080:8080        
  presentation:
    build: ../../../Plataforma-PresentationApp/server/
    image: presentation:latest
    container_name: "presentation"
    environment:
      - EVENT_MANAGER_HOST=event-manager
    ports:
      - 8083:8083
    networks:
      main:
        aliases:
          - presentation            
  event-manager:
    build: ../../../Plataforma-EventManager/
    image: event-manager:latest
    container_name: "event-manager"
    environment:
      - EXECUTOR_HOST=executor       
      - ROUTER_HOST=router  
      - BD_VOLUME=/usr/src/app/core.db
    ports:
      - 8081:8081
    networks:
      main:
        aliases:
          - event-manager
    volumes:
      - ./core.db:/usr/src/app/core.db
  executor:
    build: ../../../Plataforma-Executor/js/
    image: executor:latest
    container_name: "executor"        
    ports:
      - 8085:8085
    environment:
      - PROCESS_MEMORY_HOST=processmemory
      - DOMAIN_APP_HOST=domain
      - EVENT_MANAGER_HOST=event-manager
      - WORKER_PATH=node_modules/plataforma-sdk/worker/run.js
      - BD_VOLUME=/usr/src/app/core.db
    networks:
      main:
        aliases:
          - executor            
    volumes:
      - ./core.db:/usr/src/app/core.db
  processmemory:
    build: ../../../Plataforma-ProcessMemory/
    image: processmemory:latest
    container_name: "processmemory"        
    ports:
      - 9091:9091
    networks:
      main:
        aliases:
          - processmemory
  router:
    build: ../../../Plataforma-Router/
    image: router:latest
    container_name: "router"        
    ports:
      - 8086:8086
    environment:
      - BD_VOLUME=/usr/src/app/core.db
    volumes:
      - ./core.db:/usr/src/app/core.db
    networks:
      main:
        aliases:
          - router
  crud:
    build: ../../../Plataforma-PresentationApp/crud-contas/ 
    image: crud:latest
    container_name: "crud"        
    ports:
      - 4200:4200
    networks:
      main:
        aliases:
          - crud
  domain:
    build: ../../../Plataforma-Domain/Platform.App/bundle
    image: domain:latest
    container_name: "domain"          
    environment:
      - POSTGRES_HOST=postgres
    ports:
      - 9090:9090
    depends_on:
      - postgres
    networks:
      main:
        aliases:
          - domain
networks:
  main:          