const Sequelize = require('sequelize');

const sequelize = new Sequelize('app', 'postgres', '', {
  host: 'localhost',
  dialect: 'postgres',
  pool: {
    max: 5,
    min: 0,
    acquire: 30000,
    idle: 10000
  },
  logging: true,
  operatorsAliases: true
  
});


var model = {};

//Declaring models with Sequelize
{{#each model}}
model["{{@key}}"] = sequelize.define('{{@key}}', {
    rid: { type: Sequelize.UUID , primaryKey: true, defaultValue: Sequelize.UUIDV4   },
    id: { type: Sequelize.UUID,  defaultValue: Sequelize.UUIDV4  },
    {{#join . ","}}
    {{name}}: { type: {{type}} } {{/join}}
    , data_inicio_vigencia:{ type: Sequelize.DATE, defaultValue: Sequelize.NOW },
    data_fim_vigencia:{ type: Sequelize.DATE, defaultValue: new Date("9999-12-31") }
},{
    timestamps: false,
    freezeTableName: true    
});

{{/each}}

//Declaring relationship between models

var associations = {};
{{#each relations}}
{{#eq this.[1] "belongsTo"}}
associations["{{0}}.{{2}}"] = model["{{0}}"].{{1}}(model["{{2}}"],{as: '{{2}}', foreignKey: '{{2}}Id'});
{{else}}
associations["{{0}}.{{2}}"] = model["{{0}}"].{{1}}(model["{{2}}"],{as: '{{2}}', foreignKey: '{{0}}Id' });
{{/eq}}
{{/each}}
model["associations"] = associations;

//Sincronize database
sequelize.sync();


module.exports = model;