const Sequelize = require('sequelize');

const sequelize = new Sequelize('app', 'postgres', '', {
  host: 'localhost',
  dialect: 'postgres',
  pool: {
    max: 5,
    min: 0,
    acquire: 30000,
    idle: 10000
  },
  logging: false,
  operatorsAliases: true
  
});

var model = {};

//Declaring models with Sequelize
{{#each model}}
model["{{@key}}"] = sequelize.define('{{@key}}', {
    {{#join . ","}}
    {{name}}: { type: {{type}} {{#if primaryKey}}, primaryKey: {{primaryKey}}{{/if}}{{#if autoIncrement}}, autoIncrement: {{autoIncrement}}  {{/if}} } {{/join}}
    
},{
    timestamps: true,
    freezeTableName: true,
    paranoid:true
});

{{/each}}

//Declaring relationship between models

{{#each relations}}
model["{{0}}"].{{1}}(model["{{2}}"]);
{{/each}}


//Sincronize database
sequelize.sync();


module.exports = model;